# Environment files
*.env

# macOS system files
*.DS_Store

# Node.js dependencies
*/node_modules/

# Data directories
*/data/

# python virtual environments
*/myenv/

mongoDB Upload.ipynb

*.ipynb_checkpoints
