input{
    margin-top:10px;
    color:rgb(202, 202, 202) !important;
    background-color:rgb(60, 60, 60) !important;
    border:none !important;
    text-decoration: none;
    max-width:300px;
}

input::placeholder{
    color:#a2a095 !important;
}

input:focus, input:focus{
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border:none;
}

.login-btn{
    margin-top:20px;
}

.sign-up{
    color:rgb(130, 128, 128) !important;
}

.input-form{
    margin-top:20px;
}

.input-box{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.main-header{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}