.btn-outline-custom {
  color: #E2B714 !important; 
  border-color: #E2B714 !important;
}

.btn-outline-custom:hover {
color: white !important;
background-color: #E2B714 !important;
border-color: #E2B714 !important;
}

.btn-outline-custom:hover .discover-icon{
  color:white !important;
}