
  body {
    color:rgb(202, 202, 202) !important;
    background-color:#292829 !important;
  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}