<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Surf API</title>
</head>
<body>
    <h1>City Surf API</h1>
    <p><b>Description:</b> This API is used by the frontend to fetch city data, fetch user authentication, post user registration, and post communit city metrics.</p>
</body>
</html>