.brand-text {
  color: rgb(202, 202, 202) !important;
}

.brand-text {
  margin-left: 10px;
}

.navbar-brand {
  margin-left: 20px;
}

.nav-items {
  padding-right: 10px;
}

.discover-icon {
  margin-right: 5px;
}

.btn {
  margin-left: 10px;
}
